<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Badger Player Rating</title>


        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="./assets/css/materialize.min.css"  media="screen,projection"/>

        <link rel="stylesheet" href="./assets/css/style.css">
        <!--Firebase-->
        <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>

    </head>

    <body>

        {{{ body }}}

        <!--jQuery-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="./assets/js/materialize.min.js"></script>
        <script type="text/javascript" src="./assets/js/app.js"></script>
    </body>
</html>
