<div class="loginForm registerForm center-align">
    <img class="logo" src="./assets/images/badgerLogo.png">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
            </div>
            <div class="row loginPassword">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
                <a href="/updatepassword">Forgot Password?</a>
            </div>
            <button class="btn waves-effect waves-light submitBtn signInBtn" type="submit" name="action">Sign In
            </button>
        </form>
    </div>
    <div>
        <p>Don't have an account?  <a href="/register" style="text-decoration: underline;">Register</a></p>
    </div>
</div>