body {
    background: url(../images/loginBackground.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.registerForm {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -250px;
    background-color: black;
    opacity: 0.75;
    color: darkgrey;
    text-align: center;
}


